<template lang="">
    <div>
        
    </div>
    <h2>App</h2>
    <Bbb></Bbb>
    <div>
        <Bbb></Bbb>
    </div>
</template>
<script>
import Bbb from './Bbb.vue';
export default {
    components:{
        Bbb
    }
}
</script>
<style scoped>
    h2{
        color:red
    }
</style>